@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html, body {
  margin: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Open Sans";
  font-size: 1rem;
}

h1, h2, h3, h4, header, button, a {
  font-family: "PT Sans Narrow";
  letter-spacing: 4px;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4, p {
  font-size: 1rem;
}

button, a {
  font-size: 1.5rem;
  letter-spacing: 0;
}

.btn {
  margin-top: 1rem;
  background: #DCBF85;
  color: #121618;
  border: 0;
  padding: 5px 20px;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn.secondary {
  background: transparent;
  border: white solid 4px;
  color: #FFFFF9;
}

.btn a {
  color: inherit;
}

hr {
  border: 0;
  border-bottom: 1px solid #121618;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  width: 10%;
}

.slideshow {
  position: relative;
  background-color: #121618;
}

.slideshow .nextslide-btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.slideshow .item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.slideshow .item.active {
  -webkit-animation: 1s fader;
          animation: 1s fader;
  display: block;
}

.slideshow .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes fader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes fader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}

.container {
  padding: 2.5vw;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 40px;
  }
}

#topbtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
}

#topbtn img {
  display: block;
  margin: auto;
}

header {
  background-color: #8B635C;
}

header img {
  width: 220px;
}

header a {
  color: #121618;
}

header .navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin: 16px 0;
}

header .hamburger {
  display: none;
  cursor: pointer;
}

header .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #121618;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  header .hamburger {
    display: block;
  }
  header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  header .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  header .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .nav-menu {
    position: absolute;
    top: 65px;
    left: 0;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #8B635C;
    width: 100%;
    -webkit-transition: none;
    transition: none;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  header .nav-menu.active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .nav-item {
    margin: 16px 10px;
  }
}

footer {
  background-color: #93A29B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 250px;
  padding: 40px;
}

footer .link {
  color: #121618;
}

footer .links {
  padding: 20px;
}

footer .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .links ul li {
  padding: 10px 20px;
}

footer .links ul li a {
  color: #FFFFF9;
  padding: 10px;
}

footer .copyrights {
  color: #FFFFF9;
  padding: 25px;
}

#landing {
  background-image: url("../../img/restaurant.png");
  background-size: cover;
  height: 80vh;
  color: #FFFFF9;
}

#landing h1 {
  text-align: center;
}

#qui-sommes-nous {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 191, 133, 0.9))), url("../../img/unnamed.png");
  background: linear-gradient(rgba(220, 191, 133, 0.9)), url("../../img/unnamed.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

#qui-sommes-nous p {
  width: 50%;
}

@media (max-width: 678px) {
  #qui-sommes-nous p {
    width: 100%;
  }
}

#menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #121618;
  color: #FFFFF9;
}

#menus .menus-pizze {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding-top: 2%;
}

#menus .menus-pizze .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menus .menus-pizze .menu img {
  width: 200px;
  border-radius: 100%;
  position: relative;
}

@media (max-width: 768px) {
  #menus .menus-pizze .menu img {
    width: 300px;
  }
}

#menus .menus-pizze .menu img:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

#menus .menus-pizze .menu h3 {
  padding-top: 15px;
}

#menus .menus-pizze .menu p {
  text-align: center;
  word-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
}

#menus .menus-pizze .menu p.price {
  letter-spacing: 3px;
  font-family: "PT Sans Narrow";
  font-size: 24px;
}

#temoignages {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 191, 133, 0.9))), url("../../img/unnamed.png");
  background: linear-gradient(rgba(220, 191, 133, 0.9)), url("../../img/unnamed.png");
  background-size: cover;
}

#temoignages h2 {
  text-align: center;
}

#temoignages .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

#temoignages .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

#temoignages .cards .card .star {
  position: relative;
}

#temoignages .cards .card .star h2 {
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#temoignages .cards .card p {
  text-align: center;
  width: 90%;
}

#galerie .slideshow {
  height: 70vh;
}

#contact {
  background-color: #121618;
}

#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  padding: 5%;
}

#contact .container #map {
  width: 45%;
}

#contact .container #details {
  background-color: #BE765C;
  margin-top: auto;
  margin-bottom: auto;
  width: 55%;
  padding: 2.5%;
}

#contact .container #details #logo {
  width: 50%;
  float: right;
}

#contact .container #details p {
  line-height: 2rem;
}

#contact .container #details .buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .container #details .buttons button {
  margin-right: 10px;
}

@media (max-width: 992px) {
  #contact .container #details .buttons button {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */