
$header-background: #8B635C;

$cooper-red: #BE765C;
$gold-crayola: #DCBF85;
$rose-taupe: #8B635C;
$baby-powder: #FFFFF9;
$morning-blue: #93A29B;
$dark: #121618;

$colors: (
    primary: $gold-crayola,
    secondary: $baby-powder,
    text-dark: #121618,
    text-light: #FFFFF9
);